# Backup files and output files
/cygwin
/cygwin.7z
/standalone
/standalone.7z
*.swp
*~
*.bin
*.o
*.a
*.obj
*.ncb
*.pdb
*.suo
*.idb
*.sdf
*.opensdf
.*.swp
.DS_Store
.qmake.stash
*~
*.log
core
*.stackdump
/*_history
/tags

# Test outputs
/*.osgt
/*.osgb
*.e
*.map
*.txt

# readline history
*.history
